docs/cosc121my14_exam_master_20140526.pdf
docs/lecture slides Week 01b_ Getting started.pdf
docs/lecture_slides_Week 02_ Strings, objects, methods, i_o.pdf
docs/lecture_slides_Week 03_ Conditionals.pdf
docs/lecture_slides_Week 04_ Lists and iteration.pdf
docs/lecture_slides_Week 05_ Nested lists and loops; Repetition (4).pdf
docs/lecture_slides_Week 06_ File processing.pdf
docs/lecture_slides_Week 07_ Modules, functions, exceptions.pdf
docs/lecture_slides_Week 08_ Program style and design.pdf
docs/lecture_slides_Week 09_ Sets and dictionaries.pdf
docs/lecture_slides_Week 10_ Object Oriented Programming.pdf
docs/lecture_slides_Week 11_ Graphics User Interface programming.pdf
